/***************/
/* YOUR STYLES */
/***************/
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Knewave|Rock+Salt');


/* Color Palette */

.color-1 {
    background:#d90fa5;
}

.color-2 {
    background:black;
}

.color-3 {
    background: #cae6dd;
}

.color-4 {
    background: #f65146;
}

.color-5 {
    background: #687480;
}
/* Textures or Patterns*/

.pattern-1 {
    background:url("../img/white_texture.png")
}

.pattern-2 {
    background:url("../img/asfalt-light.png");
}

.pattern-3 {
    background:url(../img/concrete_seamless.png)
}
/* Imagery */

.imagery-1 img {
    border: none;
    box-shadow: 0 0 10px grey;
}

.imagery-2 img {
    border: ridge #d90fa5;
}

.imagery-3 img {
    border: solid 4px black;
}

/* Icons */


/* Navigation */
a:link{
    color: white;
}


a:visited {
    color:#d90fa5;
    text-decoration: none;
    text-align: center;
}

a:focus {
    background: black;
}

a:hover {
    color: white;
}

a:active {
    border-bottom: 4px solid #d90fa5;
}


/* Typography */

h1 {
    font-family: 'Knewave', cursive;
    color: #d90fa5;
}

h3 {
    font-family: 'Rock Salt', cursive;
}

p {
    line-height: 24px;
}